*{
  margin: 0;
  padding 0;
  box-sizing: border-box;
}

.container{
  background-color: darkblue;
}
.command {
  background-color: #5d8aa8;
  border: 1px solid #bbbbbb;
  margin: 10px 10px;
  overflow: auto;
  padding-left: 1em;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.input {
  background: #0080ff;
  border: 1px solid #bbbbbb;
  margin: 10px;
  padding-left: 1em;
  overflow: auto;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.required {
  background-color: #0080ff;
  border: 1px solid #bbbbbb;
  margin: 10px;
  overflow: auto;
  padding-left: 1em;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.optional {
  background-color: #bebebe;
  border: 1px solid #bbbbbb;
  margin: 10px;
  overflow: auto;
  padding-left: 1em;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.code-block {
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: monospace;
  white-space: pre-wrap;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.copy-button:active {
  background-color: #0056b3;
}
.verification {
  background-color: #ffe;
  border: 1px solid #bbbbbb;
  margin: 10px;
  overflow: auto;
  padding-left: 1em;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.checkthis {
  background-color: #faa;
  border: 1px solid #bbbbbb;
  margin: 10px 10px;
  overflow: auto;
  padding-left: 1em;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.checkthisalso {
  background-color: #faa;
  border: 1px solid #bbbbbb;
  margin: 10px 10px;
  overflow: auto;
  padding-left: 1em;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}
.output {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  margin: 10px;
  padding-left: 1em;
  overflow: auto;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.blanked {
  background: #000000;
  border: 1px solid #bbbbbb;
  margin: 10px;
  padding-left: 1em;
  overflow: auto;
  word-wrap: break-word;
  font-size: 12;
  font-family: monospace;
  border-radius: 9px;
}

.code {
  margin: 10px;
  background: #e0e0e0;
  border: 1px solid #666;
  padding: 10px;
}
.usercode {
  margin: 10px;
  background: #e0e0e0;
  border: 1px solid #666;
  border-color: red;
  padding: 10px;
}
